<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hardrelice.playmylife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pmf"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_pmf_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APP">
        <activity android:name=".activity.AddGood"></activity>
        <activity
            android:name=".activity.ExecuteTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Bag"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>